<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="XUAV=Compatible" content="IE = edge"/ >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file uploads</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
  <label for="text_file_upload">Upload Text File:</label>
  <input type="file" name="profileImage">
  <br>
  <input type="submit" value="Upload">
</form>
    
</body>
</html>
